
button {
    background-color: rgb(164, 61, 23);
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    margin: 2%;
    color:azure;
}

.temporizador {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(123, 44, 78);
    align-items: center;
    }
.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    border-radius: 100%;
}