.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.tiempos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
}
